<!DOCTYPE html>
<html lang="pl"
      data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CV</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>

  <!-- Custom styles for this template-->
  <link rel="stylesheet" th:href="@{/resources/css/sb-admin-2.min.css}">
</head>

<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="~{dynamic/templates :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-gray-200">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{dynamic/templates :: topbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Experience -->
        <div class="row">

          <div class="col-12 p-0 p-md-3">
            <div class="card border-left-primary shadow">

              <h1 class="card-header display-4 p-md-3 mb-4"><strong>Education</strong>
                <span class="small">edit</span></h1>

              <div th:each="edu : ${eduList}"
                   class="d-flex flex-column flex-md-row justify-content-between ml-md-4 ml-2 mb-5">

                <div class="flex-grow-1 col-12">
                  <div class="row">
                    <div class="col-9">
                      <h2 th:text="${edu.text}" class="mb-4"></h2>
                    </div>

                    <div class="flex-grow-1 col-6 col-md-3">
                      <div class="flex-md-row">
                        <form th:action="@{/user/education/editEdu}" method="get">
                          <input type="number" name="param" th:value="${edu.id}" hidden>
                          <input class="btn btn-outline-warning btn-block mb-3 shadow" type="submit"
                                 value="Edit"/>
                        </form>
                        <form th:action="@{/user/education/deleteEdu}" method="post">
                          <input type="number" name="param" th:value="${edu.id}" hidden>
                          <input class="btn btn-outline-danger btn-block shadow" type="submit"
                                 value="Delete">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Experience -->
      </div>
      <!-- /.container-fluid -->


      <!-- Add Education -->
      <form method="post" th:action="@{/user/education/addEdu}">
        <div class="row mt-4">
          <div class="col-12">
            <div class="card shadow mb-3">

              <div class="card-header py-3">
                <div class="form-group row">
                  <label class="col-2 col-form-label">Description</label>
                  <div class="col-10">
                                <textarea class="form-control" rows="5" name="text"
                                          placeholder="describe your education here"></textarea>
                  </div>
                </div>
                <input class="btn btn-success" type="submit" value="Add"/>
              </div>

            </div>
          </div>
        </div>
      </form>
      <!-- End of Add Education -->


    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer th:replace="~{dynamic/templates :: rights}"></footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- JavaScript -->
<footer th:replace="~{dynamic/templates :: scripts}"></footer>
<!-- End of JavaScript -->
</body>
</html>