<!DOCTYPE html>
<html lang="pl"
      data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CV</title>

  <!-- Custom fonts for this template-->
  <!-- <link rel="stylesheet" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}"/> -->
  <link rel="stylesheet" href="/resources/vendor/fontawesome-free/css/all.min.css"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>

  <!-- Custom styles for this template-->
  <!-- <link rel="stylesheet" th:href="@{/resources/css/sb-admin-2.min.css}"> -->
  <link rel="stylesheet" href="/resources/css/sb-admin-2.min.css">
</head>
<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="~{dynamic/templates :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-gray-200">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{dynamic/templates :: topbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Education -->
        <h1 class="pl-5 mb-5">Education</h1>

        <div th:if="${role=='ADMIN'}">
          <h1>Logged in as ADMIN with name <span th:text="${user} ? ${user.username} : 'not logged in'"></span></h1>
        </div>
        <div th:if="${role=='USER'}">
          <h1>Logged in as USER with name <span th:text="${user} ? ${user.username} : 'not logged in'"></span></h1>
        </div>
        <div th:if="${role==null}">
          <h1>Logged in as NULL</h1>
        </div>

        <div class="row">
          <div class="col-xl-12 col-md-12 p-0">
            <div class="card shadow">

              <h1 class="card-header display-4 p-md-3 mb-4"><strong th:text="${person.name}">Education</strong></h1>

              <div th:each="edu : ${person.getEducationSet()}"
                   class="d-flex flex-column flex-md-row justify-content-between ml-md-4 ml-2 mb-5">

                <div class="flex-grow-1 col-12">
                  <div class="row">
                    <div class="col-7">
                      <h2 th:text="${edu.text}" class="mb-2"></h2>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- End of Education -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer th:replace="~{dynamic/templates :: rights}"></footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- JavaScript -->
<footer th:replace="~{dynamic/templates :: scripts}"></footer>
<!-- End of JavaScript -->
</body>
</html>