<!DOCTYPE html>
<html lang="pl"
      data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CV</title>

    <!-- Custom fonts for this template-->
     <link rel="stylesheet" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>

    <!-- Custom styles for this template-->
     <link rel="stylesheet" th:href="@{/resources/css/sb-admin-2.min.css}">
</head>
<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <a  th:href="@{/}" class="col-lg-5 d-none d-lg-block bg-register-image"></a>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Utwórz konto!</h1>
                        </div>
                        <form class="user" method="post" th:action="@{/registration/register}">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                           name="username" id="exampleFirstName"
                                           placeholder="Username">
                                </div>
                                <div class="col-sm-6" hidden="hidden">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                           placeholder="Nazwisko">
                                </div>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="adres Email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           name="password" id="exampleInputPassword"
                                           placeholder="Password">
                                </div>
                                <div class="col-sm-6" hidden="hidden">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" placeholder="Powtórz ">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Rejestruj">
                            <hr>

                        </form>
                        <div class="text-center">
                            <a class="small" th:href="@{/registration/login}">Masz już konto? Zaloguj się!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- JavaScript -->
<footer th:replace="~{dynamic/templates :: scripts}"></footer>
<!-- End of JavaScript -->
</body>

</html>
