<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CV</title>

  <!-- Custom fonts for this template-->
  <!-- <link rel="stylesheet" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}"/> -->
  <link rel="stylesheet" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>

  <!-- Custom styles for this template-->
   <link rel="stylesheet" th:href="@{/resources/css/sb-admin-2.min.css}">
<!--  <link rel="stylesheet" href="/resources/css/sb-admin-2.min.css">-->
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:insert="~{dynamic/templates :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-gray-200">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{dynamic/templates :: topbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

          <!-- Card Example -->
          <div class="col-12">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800 mb-3"><i class="fas fa-info fa-2x text-gray-300 mr-3"></i>About</div>
                    <div th:text="${person.getAbout()}" class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- /.container-fluid -->


      <div class="jumbotron">
        <h1>About</h1>
        <p>Bootstrap + Thymeleaf + Spring Boot + H2</p>
      </div>


    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer th:replace="~{dynamic/templates :: rights}"></footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Wybierz „Wyloguj” poniżej, jeśli chcesz zakończyć bieżącą sesję.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
        <a class="btn btn-primary" href="#">Wyloguj</a>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<footer th:replace="~{dynamic/templates :: scripts}"></footer>
<!-- End of JavaScript -->
</body>
</html>
